doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', type='image/png', href='/Homepage/images/favicon.png')
 
    title Elite-SMS Dashboard
    // Custom fonts for this template
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    // Page level plugin CSS
    link(href='/vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/css/sb-admin.css', rel='stylesheet')
    style.
      .btn-primary
      {
        padding-top:15px;
        padding-bottom:15px;
      }
      #individual1{
        display:none
      }
      #individual2{
        display:none
      }
      #individual3{
        display:none
      }
      #individual4{
        display:none
      }
      .navbar-default
      {
        background-color:white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      #content-wrapper
      {
         margin-bottom:100px;
         margin-top:10px;
      }
      

  body#page-top
    nav.navbar.navbar-expand.navbar-dark.navbar-default.static-top
      a.navbar-brand.mr-1(href='/dashboard') 
       img(src='/Homepage/images/logo.png', alt='alternative')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
        
          li.nav-item.active
           
            a(href="/dashboard").btn.btn-info AT Balance #{user.atAmount}
            &nbsp;&nbsp;&nbsp;&nbsp;
                  
          li.nav-item
           
            a(href="/payments").btn.btn-success Account Balance #{amount}
            &nbsp;&nbsp;&nbsp;&nbsp;
          li.nav-item
        span(style='font-weight:bolder;margin-right:5px') #{user.companyname}
        &nbsp;&nbsp;&nbsp;&nbsp;
        img(src='/images/business.png', alt='alternative',width='3%')
    #wrapper
      // Sidebar
      ul.sidebar.navbar-nav
        li.nav-item.active
          a.nav-link(href='/dashboard')
            i.fas.fa-home
            &nbsp;
            span Dashboard
        li.nav-item.active
          a.nav-link(href='/groups')
            i.fas.fa-fw.fa-users
            &nbsp;
            span Groups
        
        li.nav-item
          a.nav-link(href='/recurrence')
            i.fas.fa-fw.fa-clock
            &nbsp;
            span Recurrence
        li.nav-item
          a.nav-link(href='/credentials')
            i.fas.fa-fw.fa-key
            &nbsp;
            span Credentials
        li.nav-item
          a.nav-link(href='/templates')
            i.fas.fa-book-open
            &nbsp;
            span SMS Templates
        li.nav-item
          a.nav-link(href='/school-exam')
         
            i.fab.fa-elementor
            &nbsp;
            span Send Exam Results
        li.nav-item
          a.nav-link(href='/school-balance')
         
            i.fas.fa-balance-scale
            &nbsp;
            span Send Fee Balances
        li.nav-item
          a.nav-link(href='/history')
            i.fas.fa-fw.fa-history
            &nbsp;
            span History
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#')
            i.fas.fa-money-bill
            &nbsp;
            span Billing
          .dropdown-menu
              a.dropdown-item(href='/paymentMethods') Payment Methods
              a.dropdown-item(href='/accountTransactions') Account Transactions
        
        li.nav-item
          a#erase.nav-link(href='/dashboard-logout')
            i.fas.fa-fw.fa-sign-out-alt
            &nbsp;
            span Logout
      #content-wrapper
        .container-fluid
          // Breadcrumbs
         
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/recurrence') Recurrence
            li.breadcrumb-item
              a(href='#') Pending Reminders
            li.breadcrumb-item.active Overview
          // Buttons
          != messages('message', locals)
          #customerButtons
           .row 
            .col
             ul#myTab.nav.nav-tabs(role='tablist')
                li.nav-item
                  a#home-tab.nav-link.active(data-toggle='tab', href='#basic', role='tab', aria-controls='home', aria-selected='true') Basic
                li.nav-item
                  a#profile-tab.nav-link(data-toggle='tab', href='#daily', role='tab', aria-controls='profile', aria-selected='false') Daily
                li.nav-item
                  a#contact-tab.nav-link(data-toggle='tab', href='#weekly', role='tab', aria-controls='contact', aria-selected='false') Weekly
                li.nav-item
                  a#contact-tab.nav-link(data-toggle='tab', href='#monthly', role='tab', aria-controls='contact', aria-selected='false') Monthly
             #myTabContent.tab-content
              #basic.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') 
                
                      #table(style='margin-top:30px')
                        h5 Basic Reminders
                        hr
                        table.table#table_id.display
                            thead
                             tr
                                th SenderID
                                th Phone Number
                                th Group
                                th Scheduled Date
                                th Message
                                th Status
                                th 
                            tbody
                              each basic in basics
                               tr
                                td=basic.senderidSMS
                                td=basic.phone
                                td=basic.group
                                td=basic.scheduleddate
                                td(style="overflow: hidden; text-overflow: ellipsis")=basic.message
                                td=basic.status
                                td 
                                 a(href="/deleteBasic/#{basic.id}")
                                  i.fa.fa-trash(style='color:red')
                                
                      
                       
                       
              #daily.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') 
                #table(style='margin-top:30px')
                        h5 Daily Reminders
                        hr
                        table.table#table_id2.display
                            thead
                             tr
                                th SenderID
                                th Phone Number
                                th Group
                                th Scheduled Date
                                th Message
                                th Status
                                th 
                            tbody
                              each daily in dailies
                               tr
                                td=daily.senderidSMS
                                td=daily.phone
                                td=daily.group
                                td=daily.scheduleddate
                                td(style="overflow: hidden; text-overflow: ellipsis")=daily.message
                                td=daily.status
                                td 
                                 a(href="/deleteDaily/#{daily.id}")
                                  i.fa.fa-trash(style='color:red')
                     
                        
              #weekly.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 
                 #table(style='margin-top:30px')
                        h5 Weekly Reminders
                        hr
                        table.table#table_id3.display
                            thead
                             tr
                                th SenderID
                                th Phone Number
                                th Group
                                th Scheduled Date
                                th Message
                                th Status
                                th 
                            tbody
                              each week in weeks
                               tr
                                td=week.senderidSMS
                                td=week.phone
                                td=week.group
                                td=week.scheduleddate
                                td(style="overflow: hidden; text-overflow: ellipsis")=week.message
                                td=week.status
                                td 
                                 a(href="/deleteWeek/#{week.id}")
                                  i.fa.fa-trash(style='color:red')
                      
                      
              #monthly.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 
                 
                 #table(style='margin-top:30px')
                        h5 Monthly Reminders
                        hr
                        table.table#table_id4.display
                            thead
                             tr
                                th SenderID
                                th Phone Number
                                th Group
                                th Scheduled Date
                                th Message
                                th Status
                                th 
                            tbody
                              each month in months
                               tr
                                td=month.senderidSMS
                                td=month.phone
                                td=month.group
                                td=month.scheduleddate
                                td(style="overflow: hidden; text-overflow: ellipsis")=month.message
                                td=month.status
                                td 
                                 a(href="/deleteMonth/#{month.id}")
                                  i.fa.fa-trash(style='color:red')
                     
           

        
          // Icon Cards
          // Area Chart Example
          // DataTables Example
          // /.container-fluid
          // Sticky Footer
          footer.sticky-footer
            .container.my-auto
              .copyright.text-center.my-auto
                span Copyright © Elite-SMS #{year}
        // /.content-wrapper
        // /#wrapper
        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
          i.fas.fa-angle-up
        // Logout Modal
        #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Ready to Leave?
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body Select "Logout" below if you are ready to end your current session.
              .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                a.btn.btn-primary(href='login.html') Logout
        // Bootstrap core JavaScript
        script(src='/vendor/jquery/jquery.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Core plugin JavaScript
        script(src='/vendor/jquery-easing/jquery.easing.min.js')
        // Page level plugin JavaScript
        script(src='/vendor/chart.js/Chart.min.js')
        script(src='/vendor/datatables/jquery.dataTables.js')
        script(src='/vendor/datatables/dataTables.bootstrap4.js')
        // Custom scripts for all pages
        script(src='/js/sb-admin.min.js')
        // Demo scripts for this page
        script(src='/js/demo/datatables-demo.js')
        script(src='/js/demo/chart-area-demo.js')
        script.
          $(document).ready( function () {
            $('#table_id').DataTable();
            $('#table_id2').DataTable();
            $('#table_id3').DataTable();
            $('#table_id4').DataTable();
         
          });
       