doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/')
    title ZUMI
    link(rel='stylesheet', href='./boot/css/bootstrap.min.css')
    link(rel='stylesheet', href='./boot/css/animate.css')
    link(rel='stylesheet', href='./style.css')
 
  body
    row
     .container
      nav.navbar.navbar-default
       .container-fluid
   
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') ZUMI
   
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/dashboard-logout') Logout
            li
      
      .col-md-12#header
        
       != messages('message', locals)
       .col-md-12
           .col-md-4.client
              button.btn.btn-primary(data-toggle='modal',data-target='#addclient') Add A New CLient
           .col-md-4
           .col-md-4.client
              form(action="/import", method="POST", encType="multipart/form-data")
                input(type="file", name="file", accept="*.csv")
                br
                button.btn.btn-primary(type="submit") Import 
       .col-md-12#bulk
          button.btn.btn-info(data-toggle='modal',data-target='#bulksms1') Send Bulk SMS [#{amount} Clients]
       
       .col-md-12
         .col-md-12.table-responsive
    
         table.table.table-striped#myTable
             thead
              th Firstname
              th Lastname
              th Phone Number
              th Actions
             tbody
             each user in users
                 tr
                   td #{user.firstname}
                   td #{user.lastname}
                   td #{user.phone}
                   td 
                    a.btn.btn-default(href="/direct-message/#{user.id}") Direct Message
                    &nbsp;
                    a.btn.btn-info(href="/edit-student/#{user.id}") Edit
                    &nbsp;
                    a.btn.btn-danger(href='/delete-user/#{user.id}') Delete Client
      
       #addclient.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title Add A New Client.
                    .modal-body
                            if(errors)
                               each error in errors
                                div.alert.alert-danger=error.msg
                            form(action="/user-register", method="POST")
                                 label(for="name") Firstname*:
                                 input.form-control(type="text", name="firstname", placeholder="Enter Firstname")
                                 br
                                 label(for="name") Lastname*:
                                 input.form-control(type="text", name="lastname", placeholder='Enter Lastname')
                                 br
                                 label(for="name") Phone Number*:
                                 .disc Kindly start your phone number with a 0, not +254
                                 input.form-control(type="text", name="phone", placeholder='Enter Phone Number e.g 0799*******')
                                 br
                                 button.btn.btn-primary#submit-btn Register
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
       #bulksms1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title Add New Message.
                    .modal-body
                            if(errors)
                               each error in errors
                                div.alert.alert-danger=error.msg
                            form.form-horizontal(action='/bulk-sms1', method='post')
                               
                                .col-md-12
                                    .form-group
                                        label(for='name') Message:
                                        textarea.form-control(type='text', placeholder='Message', rows='8', name="body")
                                
                            
                                button#signsubmit.btn.btn-primary(type='submit') Send Message
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
         
      
        
             
   
    script(src='./boot/js/jquery-1.12.4.min.js')
    script(src='./boot/js/bootstrap.min.js')
    script.
      function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
      } else {
      tr[i].style.display = "none";
      }
      }
      }
      }
