doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-12/512/SMS-Message-icon.png')
 
    title Elite-SMS #{use.companyname}
    // Custom fonts for this template
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    // Page level plugin CSS
    link(href='/vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css')
    
    // Custom styles for this template
    link(href='/css/sb-admin.css', rel='stylesheet')
    style.
      #table
      {
        margin-top:50px
      }
      #sendBulk
      {
        float:right
      }
      .fa-trash{
        color:red
      }
      #tr{
        color:white
      }
      #content-wrapper
      {
         margin-bottom:100px;
      }
      .dash
      {
          background-color:#212529;
          color:white;
          margin:3px;
          padding-top:10px;
          padding-bottom:10px;
          border-radius:4%
      }
     
  body#page-top
    nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
      a.navbar-brand.mr-1(href='/ES-admin/dashboard') Elite-SMS Admin
      // Navbar Search
      // Navbar
    #wrapper
      // Sidebar
      ul.sidebar.navbar-nav
        li.nav-item.active
          a.nav-link(href='/ES-admin/dashboard')
            i.fas.fa-home
            &nbsp;
            span Dashboard
        li.nav-item.active
          a.nav-link(href='/ES-admin/users')
            i.fas.fa-fw.fa-user
            &nbsp;
            span Users
        
      
        li.nav-item
          a.nav-link(href='/ES-admin/payments')
            i.fas.fa-fw.fa-key
            &nbsp;
            span Payments
       
      
        
      
        li.nav-item
          a#erase.nav-link(href='/ES-admin/dashboard-logout')
            i.fas.fa-fw.fa-sign-out-alt
            &nbsp;
            span Logout
      #content-wrapper
        .container-fluid
          // Breadcrumbs
          
        
          ol.breadcrumb
            
            li.breadcrumb-item
              a(href='#') Accounts
            li.breadcrumb-item
              a(href='/ES-admin/accountDetails/#{use.id}') #{use.companyname}
            li.breadcrumb-item.active Overview
          != messages('./message', locals)
       
          .row(style='margin-bottom:10px')
           
          .row(style='text-align:center')
            .col-3.dash
              
              h4 Profile
              hr
              
              p Company Name: #{use.companyname}
              p Fullname: #{use.fullname}
              p Username: #{use.username}
              p Email: #{use.email}
              p Account Balance: KES #{use.amount}
                if  use.amount < 2500
                  &nbsp;&nbsp;
                  i.fas.fa-dot-circle(style='color:green')
                if use.amount > 2501 
                  &nbsp;&nbsp;
                  i.fas.fa-dot-circle(style='color:red')
              p Total Customers: #{customers.length}
              if user.usernameSMS !==''
               p Total Sent Messages: #{use.messages}
              if user.usernameSMS === ''
               p Total Sent Messages: 0
              p ---------------------------
              if user.usernameSMS ==='' && user.apikeySMS === ''
               p No AT username added
               p No AT APIKEY added
              if user.usernameSMS !== ''&& user.apikeySMS !== ''
                p AT username: #{use.usernameSMS}
                p AT apikey: XXXXXX
                p AT Balance: #{use.atAmount}

              a(href="/ES-admin/deleteAccount/#{use.id}").btn.btn-danger Delete account
               
            .col-6
               ul#myTab.nav.nav-tabs(role='tablist')
                li.nav-item
                  a#home-tab.nav-link.active(data-toggle='tab', href='#basic', role='tab', aria-controls='home', aria-selected='true') Basic
                li.nav-item
                  a#profile-tab.nav-link(data-toggle='tab', href='#daily', role='tab', aria-controls='profile', aria-selected='false') Daily
                li.nav-item
                  a#contact-tab.nav-link(data-toggle='tab', href='#weekly', role='tab', aria-controls='contact', aria-selected='false') Weekly
                li.nav-item
                  a#contact-tab.nav-link(data-toggle='tab', href='#monthly', role='tab', aria-controls='contact', aria-selected='false') Monthly
               #myTabContent.tab-content
                    #basic.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') 
                        .card.card-register.mx-auto.mt-5
                            .card-header Basic Reminder(s):
                            .card-body
                              h4 #{basics.length} pending basic reminder(s).
                              if use.amount > 1501 && basics.length>0
                               if basics[0].account === true
                                a(href="/ES-admin/basicDisable/#{use.id}").btn.btn-info Disable reminder(s)
                                &nbsp;&nbsp;
                               if basics[0].account === false
                                 a(href="/ES-admin/basicEnable/#{use.id}").btn.btn-success Enable reminder(s)
                                 &nbsp;&nbsp;
                               a(href="/ES-admin/basicDelete/#{use.id}").btn.btn-danger Delete Reminder(s) 
                                
                            
                            
                    #daily.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') 
                        .card.card-register.mx-auto.mt-5
                            .card-header Daily Reminder(s):
                            .card-body
                              h4 #{daily.length} pending daily reminder(s).
                              if use.amount > 1501 && daily.length>0
                               if daily[0].account === true
                                a(href="/ES-admin/dailyDisable/#{use.id}").btn.btn-info Disable reminder(s)
                                &nbsp;&nbsp;
                               if daily[0].account === false
                                 a(href="/ES-admin/dailyEnable/#{use.id}").btn.btn-success Enable reminder(s)
                                 &nbsp;&nbsp;
                               a(href="/ES-admin/dailyDelete/#{use.id}").btn.btn-danger Delete Reminder(s) 
                                
                                
                                
                    #weekly.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 
                        .card.card-register.mx-auto.mt-5
                            .card-header Weekly Reminder(s):
                            .card-body
                               h4 #{weekly.length} pending weekly reminder(s).
                               if use.amount > 1501 && weekly.length>0
                                if weekly[0].account === true
                                 a(href="/ES-admin/weeklyDisable/#{use.id}").btn.btn-info Disable reminder(s)
                                 &nbsp;&nbsp;
                                if weekly[0].account === false
                                    a(href="/ES-admin/weeklyEnable/#{use.id}").btn.btn-success Enable reminder(s)
                                    &nbsp;&nbsp;
                                a(href="/ES-admin/weeklyDelete/#{use.id}").btn.btn-danger Delete Reminder(s) 
                            
                                
                            
                    #monthly.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 
                        .card.card-register.mx-auto.mt-5
                            .card-header Monthly Reminder(s):
                            .card-body
                             h4 #{monthly.length} pending monthly reminder(s).
                             if use.amount > 1501 && monthly.length>0
                               if monthly[0].account === true
                                a(href="/ES-admin/monthlyDisable/#{use.id}").btn.btn-info Disable reminder(s)
                                &nbsp;&nbsp;

                               if monthly[0].account === false
                                 a(href="/ES-admin/monthlyEnable/#{use.id}").btn.btn-success Enable reminder(s)
                                 &nbsp;&nbsp;
                               a(href="/ES-admin/monthlyDelete/#{use.id}").btn.btn-danger Delete Reminder(s) 
                   
                        
            .col-2.dash
              h5 Registred senderIDs
              if senders.length < 1
               h6 No senderIDs
              if senders.length >0
               ul.list-group
                each sender in senders
                    li.list-group-item #{sender.name}
         
          .row(style='margin-top:10px')
            .col
              h4 Payments
              #table
                table.table#table_id.display
                    thead
                        tr
                            th CustomerID
                            th Email
                            th Currency
                            th Amount
                            th Status
                    
                    
                    tbody
                     each payment in payments
                    
                      tr
                        
                        td #{payment.customerID}
                        td #{payment.email}
                        td #{payment.currency}
                        td #{payment.amount}
                        td #{payment.status}   
          

          
        
        // Bootstrap core JavaScript
        script(src='/vendor/jquery/jquery.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Core plugin JavaScript
        script(src='/vendor/jquery-easing/jquery.easing.min.js')
        // Page level plugin JavaScript
        script(src='/vendor/chart.js/Chart.min.js')
        script(src='/vendor/datatables/jquery.dataTables.js')
        script(src='/vendor/datatables/dataTables.bootstrap4.js')
        // Custom scripts for all pages
        script(src='/js/sb-admin.min.js')
        script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js')

    
        // Demo scripts for this page
        script(src='/js/demo/datatables-demo.js')
        script(src='/js/demo/chart-area-demo.js')
        script.
         $(document).ready( function () {
          $('#table_id').DataTable();
          $('#examplModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
          })
         
         });

